{% extends "base.html" %}
{% block content %}
  <form method="post" action="/"> 
  {% csrf_token %}
    Username: <input type="text" name="user"><br/>
    Command: <input type="text" name="command"><br/>
    <input type="submit">
  </form>
  <p>{{message}}</p>
{% endblock content %}